<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/static/login_styles.css" />
  </head>
  <body>
    <div class="login-div">
      <div class="logo"></div>
      <div class="title"><strong>SOULMATE</strong></div>
      <div class="sub-title">"Get the ideal partner"</div>
      <form action='/login' method='POST'>
        {% csrf_token %}
        <div class="fields">
          <div class="username"><i class="fas fa-envelope"></i><input type="email" class="user-input" id="loginusername" name="loginusername" placeholder="Login ID" /></div>

          <div class="password"><i class="fas fa-user-lock"></i><input type="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" required class="pass-input" placeholder="Password" name="password" id="password" />
          <span class="eye" onclick="myFunction()">
            <i class="fas fa-eye" id="hide1"></i>
            <i class="fas fa-eye-slash" id="hide2"></i>
          </span>
        </div>
        <button class="signin-button">LOG IN</button>
      </form>
      <div class="link"><a href="contact">Forgot password?</a></div>
      <div class="link"><a href="signup"><strong>SIGN UP</strong></a></div>
    </div>


        <script>
      function myFunction() {
        var x = document.getElementById("myInput");
        var y = document.getElementById("hide1");
        var z = document.getElementById("hide2");

        if (x.type === 'password') {
          x.type = "text";
          y.style.display = "block";
          z.style.display = "none";
        }
        else {
          x.type = "password";
          y.style.display = "none";
          z.style.display = "block";
        }
      }
    </script>


  </body>
</html>
